/* loading screen */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 999;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.dots::after {
    content: " .";
    animation: dots 3.5s infinite steps(3);
}

@keyframes dots {
    0% {
        content: " .";
    }

    33% {
        content: " ..";
    }

    66% {
        content: " ...";
    }

    99% {
        content: "...."
    }
}


/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #0fe63e;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(36, 238, 13);
    text-shadow: 0 0 20px #39ff14, 0 0 10px #39ff14;
} */
.image-logo {
    height: 100px;
    width: 200px;
}

.ietm-logo {
    height: 50px;
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

/* Hero Section */
.hero {
    height: 100vh;
    /* background: url('assets/images/hero-image.jpg') no-repeat center center/cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Sdcyberpunkcitydemo-pgyBd.otf');
}

.hero-content h1 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 200px;
    margin-bottom: 20px;
    color: #24a20e;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
    animation: fadeIn 2s ease-in-out;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
    animation: fadeIn 3s ease-in-out;
}

.btn {
    background-color: hsl(116, 90%, 46%);
    color: #000;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.btn:hover {
    background-color: #00c4cc;
    box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* About Section */
.about {
    height: 100vh;
    padding: 100px 20px;
    text-align: center;
    background-color: #000;
    z-index: -1;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}

.about-content {
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* .about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}*/

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    /* background: rgba(0, 0, 0, 0.7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 1;
    /* Must be higher than -1 */
}


/*.content {
    z-index: 1;
    max-width: 800px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
} */

/* Programs Section */
.programs {
    height: fit-content;
    padding: 100px 20px;
    text-align: center;
    background-color: #000;
}

.programs h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.program-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* .card {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #39ff14;
} */

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}

.card i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #39ff14;
}

.card p {
    font-size: 16px;
    color: #000;
}




/* Contact Section */
.contact {
    padding: 100px 20px;
    text-align: center;
    background-color: #000;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #39ff14;
    border-radius: 5px;
    font-size: 16px;
    background-color: #111;
    color: #fff;
}

.contact button {
    background-color: #39ff14;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.contact button:hover {
    background-color: #00c4cc;
    box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}

/* Footer */
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #39ff14;
}

footer p {
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.ticket {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    /* border: 2px solid #000; */
    background-color: #111;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #39ff14;
}

.ticket:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}

